@charset "utf-8";
/*importing reset.css to override browser formatting */
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);
/*importing Google Fonts to reduce redundancy from injecting into html*/
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

ul li{
	list-style-type: square;
	list-style-position: outside;
}

a{
	padding: 10px;
	text-decoration: none;
}

html{
	scroll-behavior: smooth;
}

body{
	background-image: url("../img/IndexBG.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

h1{
	font-size: 60px;
	font-family: 'Philosopher', sans-serif;
	font-weight: 700;
	text-align: center;
}

h2{
	font-size: 40px;
	margin-bottom: 10px;
	color: #E8D5D5;
	font-family: 'Philosopher', sans-serif;
	font-weight: 700;

}

p{
	color: #E0CBCB;
	font-size: 18px;
	font-family: 'Philosopher', sans-serif;
	font-weight: 400;
	line-height: 2rem;
}


.navcontainer{
	display: flex;
	flex-flow: row nowrap;
	margin: auto;
	/*sets width to exactly size of the full content, making auto margins center accurately*/
	width: max-content;
	padding: 5px;
}


.nav-item {
display: inline-block;
padding: 10px;
}

.section-padding{
	padding-left: 20px;
	padding-right: 20px;
}

.container{
	margin: auto;
	max-width: 80%;
	padding-top: 50px;
	padding-bottom: 50px;
}

._2-col-grid{
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
	gap: 250px;
	text-align: left;
	justify-items: center;
	margin-left: 20px;
	margin-right: 20px;
}

.grid-item{
	width: auto;
}

.extlink{
	/*setting max height of images inside section. this does NOT apply to image-wrapper*/
	height: 320px;
	/*auto setting width to maintain proper image proportions*/
	width: auto;
	/*transition settings. targets scale in sub tag, sets transition time, applies timing function*/
	transition: scale 0.2s ease-out;
}

/*sub tag for extlink. targets only during mouse hover*/
.extlink:hover{
	/*scale provides more proportional size change than height+width manipulation*/
	scale: 1.25;
}
.content-wrapper{
	border-radius: 40px 0px;
	padding: 10px;
	opacity: 85%;
}

.content-wrapper.gens{
	background-color: #120909;
}

.content-wrapper.nier{
	background-color: #011C12;
}

.content-wrapper.p5r{
	background-color: #380000;
}

.content-wrapper.dan{
	background-color: #AD1A7F;
}

.centerhead{
	width: max-content;
	/*auto adjusts margins for center while adding 30px gap on bottom*/
	margin: auto auto 20px auto;
}

.sidealign{
	width:max-content;
	margin-bottom: 20px;
}

.textbg{
	width: man;
	padding: 1.5rem;
	border-radius: 50px;
}

.mid-p{
	max-width: 50%;
	margin-bottom: 10px;
}

.button{
	border-radius: 50px;
}
.white{
	color:#ffffff;
}

.black{
	color: #000000;
}

.sideimg{
	display: block;
	height: 500px;
	width: auto;
}
