@charset "utf-8";
/* CSS Document */
body{
	background-image: url("../img/arsene.png");
	background-repeat: no-repeat;
	background-size: cover;	
	background-position: right;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

.gol-bg{
	background-color: #f2e85299;
}
.galimg{
	width: auto;
	height: 280px;
	display: block;
}