@charset "utf-8";

body{
	background-image: url("../img/kyoko.png");
	background-repeat: no-repeat;
	background-size: cover;	
	background-position: right;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;	
}

.pin-bg{
	background-color: #ED0F87bb;
}
.galimg{
	width: auto;
	height: 290px;
	display: block;
}