@charset "utf-8";

body{
	background-image: url("../img/GenshinBackground.png");
	background-repeat: no-repeat;
	background-size: cover;	
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

.blue{
	color:#09176B;
}

.yel-bg{
	background-color: #F0E05599;
}

.bro-bg{
	background-color: #423523aa;
}

.galimg{
	width: auto;
	height: 300px;
	display: block;
}